.box{
    background-color: aqua;
    margin: 200px;
    /* transform: translate(10px,20px); */
    /* transform: rotate(-45deg); */
    /* transform: scale(1,3); */
    /* to tilt skew is used */
    transform: skew(45deg);
}